include ../../mixins/index

+b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
  +b.about-product-card 
    +e.column.--side.--left 
      +e.text.text.--bold.P(style='margin-left: 20px') Тема №1 Назва теми
    +e.column.--center 
      +e.text.text.--xs.--medium.P Опис теми
    +e.column.--side.--right
      +e.inner-wrapper
        +e.title.text.--bold.H3 Скачати
        include ../elements/button