include ../../mixins/index

+b.main-slider 
  +b.slider-bg.swiper
    +e.wrapper.swiper-wrapper
      +e.slide.swiper-slide.img.IMG(src="../../../static/img/models/model-slider2.jpg")
      +e.slide.swiper-slide.img.IMG(src="../../../static/img/models/model-slider1.jpg")
      +e.slide.swiper-slide.img.IMG(src="../../../static/img/models/model-slider3.jpg")
  +b.main-content.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +e.text.text.--3xl Цифровий дизайн схожий на живопис, тільки фарби ніколи не сохнуть
    +b.main-slider-nav
        +e.prev.main-control.main-slider-prev.IMG(src="../../../static/icons/arrow-prev.svg")
        +b.swiper-pagination
        +e.next.main-control.main-slider-next.IMG(src="../../../static/icons/arrow-next.svg")
        