include ../../mixins/index

+b.table.TABLE
  +e.thead.THEAD
    +e.row.--grey.TR
      +e.th.text.--bold.TH Column 1
      +e.th.text.--bold.TH Column 1
      +e.th.text.--bold.TH Column 1
      +e.th.text.--bold.TH Column 1
      +e.th.text.--bold.TH Column 1
  +e.tbody.TBODY
    +e.row.TR
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
    +e.row.--grey.TR
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
    +e.row.TR
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
    +e.row.--grey.TR
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
    +e.row.TR
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1
      +e.td.text.--medium.TD Column 1