include ../../mixins/index

+b.copyright.SECTION 
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.copyright-wrapper 
      +e.right-side 
        +e.link.text.--xs.--medium.SPAN Copyright © 2018 SITENAME
        +e.link.text.--xs.--medium.A(href="#") General terms and conditions
        +e.link.text.--xs.--medium.A(href="#") Legal information
      +e.left-side 
        +e.link.text.--xs.--medium.A(href="#") Angepasst / Entworfen von WEBish