include ../../mixins/index

+b.text-section 
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.text-wrapper 
      +e.paragraph-wrapper
        +e.paragraph.text.--xs.--medium.P Lorem ipsum dolor sit amet, in has dico nulla indoctum, duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
      +e.paragraph-wrapper
        +e.paragraph.text.--xs.--medium.P No eum vidisse honestatis, no eam insolens recteque intellegam. Ea errem invidunt ius, quo solum audire evertitur id. Omnis harum debitis et eum, no his elit interpretaris, ei graece doming urbanitas usu. Vis adhuc laudem id.
      +e.paragraph-wrapper
        +e.paragraph.text.--xs.--medium.P Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. #[a(class="text-wrapper__read-more" href="#") Reade more] 