include ../../../mixins/index

+b.cube-section.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.cube-wrapper 
      +e.scene
        +b.cube
          +e.face.--front
            +e.text.cube-text навчись
          +e.face.--back
            +e.link.cube-text.A(href="../../pages/uber-uns/uber-uns.html") Про нас
          +e.face.--right
          +e.face.--left
          +e.face.--top
      +e.scene
        +b.cube
          +e.face.--front
            +e.text.cube-text робити
          +e.face.--back
            +e.link.cube-text.A(href="../../pages/produkte/produkte.html") Завдання
          +e.face.--right
          +e.face.--left
          +e.face.--top
      +e.scene
        +b.cube
          +e.face.--front
            +e.text.cube-text 3D
          +e.face.--back
            +e.link.cube-text.A(href="../../pages/projekte/projekte.html") Роботи
          +e.face.--right
          +e.face.--left
          +e.face.--top
      +e.scene
        +b.cube
          +e.face.--front
            +e.text.cube-text моделi
          +e.face.--back
            +e.link.cube-text.A(href="../../pages/news/news.html") Новини
          +e.face.--right
          +e.face.--left
          +e.face.--top
