extends ../../base/base

block header 
  include ../../base/header

block content 
  +b.main.MAIN
    include ../../../mixins/category
    include ../../../mixins/index
    -
      const breadcrumbs = ['Home', 'Some page', 'Some page 2'],
            category = 'Search',
            info = [],
            subcategory = [],
            image = 'search.png'
    +category(breadcrumbs, category, info, subcategory, image)
    include ../../sections/search/search-list

block text 
  include ../../base/text