include ./../../../node_modules/bemtopuginvue/bemto.pug

mixin newsCards(cardsData = [])
  +b.news
    each item in cardsData
      +e.image-wrapper.A(href= item.link)
        +e.image.img.IMG(src="../../../static/img/" + item.image)
        +e.date.SPAN= item.date
      +e.title.picture-name.A(href="#")= item.name