include ../../mixins/index

+b.pagitation 
  +e.list.UL 
    +e.item.LI 
      +e.element.SPAN 1
    +e.item.LI 
      +e.element.SPAN 2
    +e.item.is-active.LI 
      +e.element.SPAN 3
    +e.item.LI 
      +e.element.SPAN 4
    +e.item.LI 
      +e.element.SPAN 5