include ../../mixins/index

+b.tags-wrapper 
  +e.title.H2 Теги
  +e.tags 
    +e.tag.text.--xs.--medium.SPAN Категорія 1
    +e.tag.text.--xs.--medium.SPAN Категорія 2
    +e.tag.text.--xs.--medium.SPAN Категорія 1
    +e.tag.text.--xs.--medium.SPAN Категорія 2
    +e.tag.text.--xs.--medium.SPAN Категорія 1