include ../../../mixins/index

+b.luxed.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.luxed-wrapper 
      +e.bg-image.IMG(src="../../../static/img/uber-uns/luxed/x-bg.png")
      +e.top 
        +e.element-wrapper.--l
          +e.text-part.--l.text.--xs.--medium.P Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, adipisci nulla nihil nemo minus cumque maxime illum quod provident iste saepe quia vero esse natus quae quis officiis ducimus velit!
          +e.letter-wrapper.--l
            +e.image-wrapper.--l 
              +e.image.img.IMG(src="../../../static/img/models/B.png")
            +e.name.SPAN Berdyansk
        +e.element-wrapper.--u
          +e.text-part.--u.text.--xs.--medium.P Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis nobis atque aperiam rerum dignissimos nam iusto quod amet sed mollitia, illum a delectus praesentium corporis inventore accusantium obcaecati impedit!
          +e.letter-wrapper.--u
            +e.image-wrapper.--u
              +e.image.img.IMG(src="../../../static/img/models/S.png")
            +e.name.SPAN State
      +e.middle
        +e.element-wrapper.--x
          +e.text-part.--x.text.--xs.--medium.P Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima iusto quo veritatis culpa vitae. Quae mollitia vero temporibus molestias rem exercitationem, placeat laboriosam quam odit, similique aut incidunt? Praesentium, porro.
          +e.letter-wrapper--x
            +e.image-wrapper.--x
              +e.image.img.IMG(src="../../../static/img/uber-uns/luxed/X.png")
            +e.name.SPAN eXtraordinary
      +e.bottom 
        +e.element-wrapper.--e
          +e.text-part.--e.text.--xs.--medium.P Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et mollitia rerum ab nesciunt nostrum! Eveniet, quas doloribus veritatis sit modi impedit explicabo dolorum laboriosam necessitatibus neque mollitia ea tenetur excepturi.
          +e.letter-wrapper.--e
            +e.image-wrapper.--e
              +e.image.img.IMG(src="../../../static/img/models/P.png")
            +e.name.SPAN Pedagogical
        +e.element-wrapper.--d
          +e.text-part.--d.text.--xs.--medium.P Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id placeat, non assumenda quaerat at sunt, impedit ducimus mollitia animi atque quis quisquam tenetur rem quidem sequi necessitatibus aspernatur. Quo, repellat.
          +e.letter-wrapper.--d
            +e.image-wrapper.--d
              +e.image.img.IMG(src="../../../static/img/models/U.png")
            +e.name.SPAN University