include ../../../mixins/index

+b.picture-company.SECTION 
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.picture-company-wrapper 
      +e.top 
        +e.title.title.H3 PICTURE UNIVERSITY
      +e.bottom 
        +e.column 
          +e.picture-card 
            +e.image.img.IMG(src="../../../static/img/uber-uns/picture1.png")
        +e.column 
          +e.picture-card 
            +e.image.img.IMG(src="../../../static/img/uber-uns/picture2.png")
        +e.column 
          +e.picture-card 
            +e.image.img.IMG(src="../../../static/img/uber-uns/picture3.png")
        +e.column 
          +e.picture-card 
            +e.image.img.IMG(src="../../../static/img/uber-uns/picture4.png")
        