include ../../../mixins/index

+b.uber-map 
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.uber-map-wrapper 
      +e.top 
        +e.title.title.H3 ADRESS
        +e.subtitle.P #[span(class="uber-map-wrapper__span") GOOGLE MAPS |] MAPS
      +e.bottom 
        +e.column-location
          +e.adress-wrapper 
            +e.adress-category 
              +e.image-wrapper 
                +e.image.IMG(src="../../../static/icons/uber-uns/location.svg")
              +e.location-info 
                +e.text.text.--xs.--medium.P 71100, Україна 
                +e.text.text.--xs.--medium.P Запорізька обл.,
                +e.text.text.--xs.--medium.P м.Бердянськ, вул.Шмідта, 4
          +e.adress-wrapper 
            +e.adress-category 
              +e.image-wrapper 
                +e.image.IMG(src="../../../static/icons/uber-uns/phone.svg")
              +e.location-info 
                +e.text.text.--xs.--medium.A(href="tel:+41619030380") +38 050 56 42 390
                +e.text.text.--xs.--medium.A(href="tel:+41619030380") +38 098 08 16 103
          +e.adress-wrapper 
            +e.adress-category 
              +e.image-wrapper 
                +e.image.IMG(src="../../../static/icons/uber-uns/mail.svg")
              +e.location-info 
                +e.text.text.--xs.--medium.A(href="mailto: TESTTEST@gmail.com") pkom@bdpu.org.ua
          +e.adress-wrapper 
            +e.adress-category 
              +e.image-wrapper 
                +e.image.IMG(src="../../../static/icons/uber-uns/clock.svg")
              +e.location-info 
                +e.top-info
                  +e.text.text.--xs.--medium.P Mo – Do   
                  +e.text.text.--xs.--medium.P 08.00 – 12.00 
                  +e.text.text.--xs.--medium.P 13.00 – 17.30 
                +e.bottom-info
                  +e.text.text.--xs.--medium.P Fr
                  +e.text.text.--xs.--medium.P 08.00 – 12.00 
                  +e.text.text.--xs.--medium.P 13.00 – 16.30 
        +e.column-map 
          +b.uber-map-container#uber-map
          +b.info-window#uber-info
            +e.top.text.--xs.--medium.SPAN Name der Region 1
            +e.middle 
              +e.info.text.--xs.--medium.SPAN 71100, Україна
              +e.info.text.--xs.--medium.SPAN Запорізька обл.,
              +e.info.text.--xs.--medium.SPAN м.Бердянськ, вул.Шмідта, 4
            +e.bottom.btn.A(href="#") GET DIRECTION

          

